---
import { ROUTES } from '../consts';

---
<header class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2">
    <nav class="flex px-3 text-3xl rounded-full justify-center items-center">
        {ROUTES.map((route) => <a class="relative block px-2 py-2 transition hover:text-blue-500 dark:hover:text-blue-500" href={route.href}>{route.label}</a>)}
    </nav>
</header>
